<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">AirTnt</li>
            <% if user_signed_in? %>

            <li>
                <%= image_tag(Gravatar.new(current_user.email).image_url, size: "30") %>
            </li>
            <li>
                <%= link_to(current_user.email, edit_user_registration_path) %>
            </li>
            <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
                <%= link_to('Login', new_user_session_path)  %>
            </li>

            <li>
                <%= link_to('Register', new_user_registration_path)  %>
            </li>
            <% end %>

            <!-- <ul class="menu vertical"> -->
            <!-- <li>
                        <a href="#">One</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Two</a>
            </li>
            <li>
                <a href="#">Three</a>
            </li> -->
            <!-- </ul> -->
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
                <% if user_signed_in? %>
                <li>
                    <%= link_to('New Post', new_room_path)  %>
                <% else %>
                    <% end %>

                </li>

            </ul>
        </div>
    </div>
